{% if latest_questions_list %}
	<ul>
		{% for question in latest_questions_list %}
		<li>
			<a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>	
		</li> 

		{% endfor %}
	</ul>
{% else %}
	<p> No Polls available. </p>

{% endif %}	